* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  position: absolute;
  top: 20px;
}
.main {
  margin-top: 40px;
  width: 50vw;
  height: auto;
  background-color: rgba(18, 186, 233, 0.619);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
h1 {
  text-align: center;
  font-size: 40px;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 5px;
  outline: none;
  text-align: center;
  font-size: 20px;
  margin-right: 2px;
}
.btn {
  padding: 5px;
  font-weight: bold;
  background-color: black;
  outline: none;
  font-size: 20px;
  color: white;
}
#result {
  /* margin-bottom: 20px; */
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  /* margin-right: 20px; */
}
.output {
  margin-top: 40px;
  width: 50vw;
  height: auto;
  background-color: rgb(211, 211, 49);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.userprofile {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 2px;
}
.userbio {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}
.usercompany {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}
.userrepo {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}
.name {
  padding: 2px;
  margin: 5px;
}
